@charset "utf-8";
/* CSS Document*/
/*div #menu{
}*/

#logIn{
    float: right;
    text-align: right;
    font-family: Segoe UI Light;
    z-index: 5000;
    color: blue;
}

#content{
    left:20%;
    right:20%;
}