@charset "utf-8";
/* CSS Document*/
/*div #menu{
}*/

#logIn{
    float: right;
    text-align: right;
    font-family: Segoe UI Light;
    z-index: 5000;
    opacity:100%;
    color: black;
}

#content{
    position: relative;
    left:20%;
    width:60%;
    background-color: white;
    opacity: 50%;
    align-content: center;
    height: 100%;
    top:50%;
    display: inline-block;
    vertical-align: top;
}

body{
    position:relative;
    background-color:orange;
}