@charset "utf-8";
/* CSS Document*/
/*div #menu{
}*/

div #login{
    float: right;
    text-align: right;
    font-family: Segoe UI Light;
    z-index: 5000;
}

/*body{
    left:20%;
    right:20%;
}*/